body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #FEEFDD 100%, #50B2C0 0%);
    color: #201E1F;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}
