
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #e67e22;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  font-weight: 500;
}




.blog-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.blog-post {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: relative;
  padding-bottom: 40px; /* để chừa chỗ cho meta info */
}

.blog-post img {
  width: 300px;
  border-radius: 6px;
}

.blog-post h2 {
  margin-top: 10px;
  color: #333;
}

.blog-post p {
  color: #555;
}

.blog-meta {
  
  margin-top: 1rem;
  font-size: 0.9em;
  color: #555;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.like-btn {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.like-btn:hover {
  transform: scale(1.3);
  color: red;
}

.like-count {
  margin-left: 5px;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.pagination button {
  background-color: #e0e0e0;
  border: none;
  margin: 0 5px;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.pagination .active {
  background-color: #1a2954;
  color: white;
}

.blog-post.horizontal {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.blog-post.horizontal img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.blog-text {
  flex: 1;
}

.blog-text h2,h3 {
  margin-top: 0;
  color: #1a2954;
}

.blog-text p {
  color: #444;
  margin-top: 5px;
  margin-bottom: 10px;
}

.blog-text a {
  color: #1a2954;
  text-decoration: none;
  font-weight: bold;
}


/* CSS blog con */
.blog-detail {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

.header-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.blog-detail p{
  margin-bottom: 1rem;
}

.blog-detail ul{
  padding-left: 50px;
  padding-right: 50px;
}

h1 {
  font-size: 2em;
  color: #1a2954;
  margin-bottom: 10px;
}

h2 {
  margin-top: 10px;
  font-size: 1.5em;
  color: #1a2954;
  margin-bottom: 10px;
}

.blog-detail p,li{
  margin-top: 5px;
}

blockquote {
  font-style: italic;
  color: #555;
  border-left: 4px solid #1a2954;
  padding-left: 15px;
  margin: 20px 0;
}

.blog-actions {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.back-button,
.share-button {
  text-decoration: none;
  color: #1a2954;
  font-weight: bold;
}




@media (max-width: 768px) {
  .blog-meta {
    gap: 8px;
    font-size: 0.85em;
  }

  .like-btn {
    font-size: 1em;
  }

  .like-count {
    font-size: 0.9em;
  }
}