

@media (max-width: 768px) {
    
}

/* Reset margin/padding mặc định */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Đảm bảo body và html chiếm toàn bộ chiều ngang */
html, body {
  width: 100%;
}